{
    "freebsd": {
        "branches": ["<list of FreeBSD branches to work with>"],
        "build": {
            "current": {
                "branch": "current",
                "archs": ["amd64", "i386", "armv6", "arm64", "mips", "mips64"],
                "enabled": true
            },
            "<branchname>": {
                "branch": "<branchname>",
                "archs": ["<List of architecture to build>"],
                "enabled": true
            },
            "<branchname>": {
                ...
            }
        },
        "srcDirs": {
            "current": "/usr/src",
            "stable11": "/usr/freebsd/src/stable/11",
            "stable10": "/usr/freebsd/src/stable/10",
            "<branchname>": "<source directory>"
        },
        "objDirBase": "${WORKSPACE}/obj",
        "destDirBase": "${WORKSPACE}/dest",
        "imageDirBase": "${WORKSPACE}/image",
        "hosts": {
            "freebsdhost": {
                "hostname": "freebsdhost",
                "branch": "current",
                "arch": "amd64",
                "kernConf": "GENERIC",
                "steps": ["buildworld", "buildkernl", "installworld", "installkernel", "distribution"],
                "buildImage": false,
                "enabled": true
            },
            "<hostname>": {
                "hostname": "<hostname>",
                "branch": "<branchname>",
                "arch": "<host architecture>",
                "kernConf": "<host kernel configuration name>",
                "steps": ["<make targets for this host>", "...", "..."],
                "buildImage": "<build SD card/USB stick image for this host>",
                "enabled": "<enable build for this host>"
            },
            "<hostname>": {
                ...
            }
        }
        "archs": {
            "amd64": {
                "arch_m": "amd64",
                "arch_p": "amd64"
            },
            "i386": {
                "arch_m": "i386",
                "arch_p": "i386"
            },
            "armv6": {
                "arch_m": "arm",
                "arch_p": "armv6"
            },
            "arm64": {
                "arch_m": "arm64",
                "arch_p": "aarch64"
            },
            "mips": {
                "arch_m": "mips",
                "arch_p": "mips"
            },
            "mips64": {
                "arch_m": "mips",
                "arch_p": "mips64"
            }
        }
    },
    "slack": {
        "channel": "<channelname>"
    }
}
