{
  "freebsd": {
    "branches": ["<list of FreeBSD branches to work with>"],
    "build": {
      "current": {
        "branch": "current",
        "archs": ["amd64", "i386", "arm64", "armv6", "mips64", "mips"],
        "enabled": true
      },
      "<branchname>": {
        "branch": "<branchname>",
        "archs": ["<List of architecture to build>"],
        "enabled": true
      },
      "<branchname>": {
        ...
      }
    },
    "hosts": {
      "freebsdhost": {
        "hostname": "freebsdhost",
        "steps": ["buildworld", "buildkernl", "installworld", "installkernel", "distribution"],
        "buildImage": false,
        "enabled": true
      },
      "<hostname>": {
        "hostname": "<hostname>",
        "steps": ["<make targets for this host>", "...", "..."],
        "buildImage": "<build SD card/USB stick image for this host>",
        "enabled": "<enable build for this host>"
      },
      "<hostname>": {
        ...
      }
    }
  },
  "slack": {
    "channel": "<channelname>"
  }
}
